<div class="row " >
  <div class="col-md-4">
      <h2>latest Updates</h2>
  </div>
  
  <div class="col-md-4">
      <h2>Member Posts</h2>
      <%= render post_form %>
      
      <% @posts.each do |post| %>
  
        <p class="h4"><%= post.member.member_name %></p>
          
        <p class="h4"> @unknown_member </p>
       
        <p class='text-italics'><%= post.post %></p>           
      <% end %>

  </div>
  <div class="col-md-4">
    <h2>Why Join Our Club</h2>
  </div>
</div>
