<%= link_to new_post_path, class: 'nav-item' do%>
  <li type="li" class="btn btn-primary nav-link">New Post</li>
<% end %>

<%= link_to destroy_member_session_path, method: :delete, class: 'nav-item' do%>
  <li  class=" nav-link">Sign Out</li>
<% end %>