<%= link_to new_member_registration_path, class: 'nav-item' do%>
  <li  class=" nav-link">Sign Up</li>
<% end %>

<%= link_to new_member_session_path, class: 'nav-item' do%>
  <li  class=" nav-link">Login</li>
<% end %>