<div class="row">
  <div class="col-4 text-center">
    <% if flash[:notice] %>
      <div class="text-success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="text-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>
</div>